.design {
    font-family: arial 18px; 
    color: black; 
    font-weight: bold
}

.design-date {
        font-family: arial; 
        color: black; 
        font-style: italic;
        text-align: right
}
// td span:last-child{
//     float:right;
// }

.design-td{
    float: right;
}
// .design-td{
//     align: right;
// }
